label.timer { font-size: 24pt; font-weight: bold; color: white; }
label.mines { font-size: 24pt; font-weight: bold; color: white; }
.header { background-color: rgba(100, 100, 100, 1); }
.game_box {background-color:rgba(50, 50, 50, 1); }    
	.cell { 
        background-color: rgba(40,40,40,1);   /* default white */
        border-radius: 0px;
       border: 1px solid rgba(150, 150, 150, 1);
    }
    .cell-label-easy {
   	   background-color: rgba(110,110,110,1);
       font-size: 4.5em;
       font-weight: bold;
       border: 2px solid rgba(150, 150, 150, 1);
    }
    .cell-label-medium {
   	   background-color: rgba(110,110,110,1);
       font-size: 3em;
       font-weight: bold;
       border: 1px solid rgba(150, 150, 150, 1);
    }
    .cell-label-hard {
   	   background-color: rgba(110,110,110,1);
       font-size: 1.5em;
       font-weight: bold;
       border: 1px solid rgba(150, 150, 150, 1);
    }
    .flag-label-easy {
   	   background-color: rgba(52, 117, 8,1);
       font-size: 4.5em;
       border: 2px solid rgba(150, 150, 150, 1);
    }
    .flag-label-medium {
   	   background-color: rgba(52, 117, 8,1);
       font-size: 3em;
       border: 1px solid rgba(150, 150, 150, 1);
    }
    .flag-label-hard {
   	   background-color: rgba(52, 117, 8,1);
       font-size: 1.5em;
       border: 1px solid rgba(150, 150, 150, 1);
    }
label.popup_message {
    font-size: 12pt;
    font-weight: bold;
}
