label.timer { font-size: 24pt; font-weight: bold; color: white; }
label.mines { font-size: 24pt; font-weight: bold; color: white; }
.header { background-color: rgba(66, 66, 66, 1); }
    .cell {
        background-color: #3a3a3aff;   /* default white */
        border-radius: 0px;
        border: 1px solid rgba(122, 122, 122, 1);
    }
    .cell-label-easy {
       font-size: 5em;
       font-weight: bold;
       border: 1px solid rgba(122, 122, 122, 1);
    }
    .cell-label-medium {
       font-size: 3em;
       font-weight: bold;
       border: 1px solid rgba(122, 122, 122, 1);
    }
    .cell-label-hard {
       font-size: 1.5em;
       font-weight: bold;
       border: 1px solid rgba(122, 122, 122, 1);
    }
    .flag-label-easy {
       font-size: 5em;
       border: 1px solid rgba(122, 122, 122, 1);
    }
    .flag-label-medium {
       font-size: 2em;
       border: 1px solid rgba(122, 122, 122, 1);
    }
    .flag-label-hard {
       font-size: 1.5em;
       border: 1px solid rgba(122, 122, 122, 1);
    }