[Desktop Entry]
Name=Minesweeper
Comment=A simple Minesweeper clone implemented in C using GTK4
Exec=MineSweeper
Icon=org.example.MineSweeper
Terminal=false
Type=Application
Categories=Game;LogicGame;
StartupNotify=true